name: release
on:
  push:
    branches: ["master"]
    paths-ignore:
      - '.devcontainer/**'
      - '.github/workflows/**'
    tags-ignore: ['**']
jobs:
  tests:
    uses: brickhouse-tech/.github/.github/workflows/tests.yml@main
    with:
      build: true
  release:
    needs: [tests]
    uses: brickhouse-tech/.github/.github/workflows/release.yml@main
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
