name: tests
on:
  workflow_call:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
jobs:
  tests:
    uses: brickhouse-tech/.github/.github/workflows/tests.yml@main
    with:
      build: true
