name: tests
on:
  workflow_call:
  pull_request:
    branches: ["master"]
    paths-ignore:
      - '.devcontainer/**'
      - '.github/workflows/**'
jobs:
  tests:
    uses: brickhouse-tech/.github/.github/workflows/tests.yml@main
    with:
      build: true
